*{
    font-family: 'sen', sans-serif;
    font-weight: 100;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: royalblue;
    margin: auto;
    border-top-left-radius: 80px;
    border-radius: 10%;
    flex-direction: column;

}
.form{
    min-width: 500px;
    flex=1;
    text-align: center;
    padding: 30px;
    
}
body{
    background-color: teal;
    background-image: url(https://www.centraldepasajes.com.ar/micros-low-cost/img/bus/pasajes-de-micro-baratos.jpg);
    background-size: 2300px;
}
.from-img{
    flex: 2;
    padding: 10px;
    justify-content: center;
    margin: 30px 650px 0px 650px;
    border-radius: 80px 80px 0px 0px;
}

.from-input{
    width: 80%;
    padding: 7px;
    margin: 7px 0;
}

.from-img img {
    width: 200px;
    border-radius: 100px;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
}